.wrapper-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.content-frame{
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.image-box{
    width: 105px;
    height: 50px;
}
.image{
    width: 100%;

}
.button{
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
}
.button:hover{
    opacity: 50%;
}